<!doctype html>
<html lang="en">
<head>
    {% if title %}
    <title>YouTweet - {{ title }} </title>
    {% else %}
    <title>YouTweet</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to Home page!</h1>

    {% for post in posts %}
    <div class="post">
        <h2>{{ post.title }}</h2>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
    </div>
    {% endfor %}
</body>
</html>

